
@font-face {
  font-family: IRANSans;
  src: url('https://cdnsnapptrip.com/fonts/mobile-fonts/IRANSansMobile(FaNum)_Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: IRANSans;
  src: url('https://cdnsnapptrip.com/fonts/mobile-fonts/IRANSansMobile(FaNum).ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: IRANSans;
  src: url('https://cdnsnapptrip.com/fonts/mobile-fonts/IRANSansMobile(FaNum)_Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: IRANSans;
  src: url('https://cdnsnapptrip.com/fonts/mobile-fonts/IRANSansMobile(FaNum)_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: EnIRANSans;
  src: url('https://cdnsnapptrip.com/fonts/en-mobile-fonts/IRANSansMobile_Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: EnIRANSans;
  src: url('https://cdnsnapptrip.com/fonts/en-mobile-fonts/IRANSansMobile.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: EnIRANSans;
  src: url('https://cdnsnapptrip.com/fonts/en-mobile-fonts/IRANSansMobile_Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: EnIRANSans;
  src: url('https://cdnsnapptrip.com/fonts/en-mobile-fonts/IRANSansMobile_Bold.ttf') format('truetype');
  font-weight: bold;
}